<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap Mobile-First approach-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <title>NYSL</title>
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:700i|Fira+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="jquery.fancybox.min.css">
</head>

<body>

    <div id="app" class="container">

        <div class="container-fluid">
            <div class="heading">
                <img class="logo" src="img/icons8-book-100.png" alt="site-logo">
                <h1>BookStore</h1>
                <p class="quote">"A book is a dream you hold in your hands"</p>
            </div>

            <!--- Search Bar -->
            <div class="jumbotron">
                <input class="search_input" type="text" v-model="search" placeholder="Search for a book.." />
            </div>

            <!--- Books container -->
            <div class="books_container">
                <div class="row" v-for="book in filteredBooks">

                    <div class="each_book">
                        <!--- Flip card BookCover -->
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img class="book_cover" v-bind:src="book.cover" alt="book-cover" />
                                </div>
                                <div class="flip-card-back">
                                    <h3>{{book.title}}</h3>
                                    <p>{{ book.description}}</p>
                                    <button class="info_button" type="button" v-on:click="isHidden = false">
                                        <a v-bind:href="book.detail" data-fancybox="images">More Info!</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div v-if="!isHidden" id="detail" class="imglist" style="max-width: 1000px;" v-for="book in filteredBooks">
            </div>

        </div>

    </div>

    <!--- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="jquery.fancybox.min.js"></script>
    <!--Bootstrap-->
    <script src="js/bootstrap.min.js"></script>
    <!--- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="vue.js"></script>
</body>

</html>